.header {
  /* position: -webkit-sticky; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  padding: 2rem 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 1000;
  height: 12vh;
}

.header .logo {
  margin-right: auto;
  font-size: 2.5rem;
  /* text-transform: capitalize; */
  color: #444;
  font-weight: bolder;
  text-decoration: none;
}

.header .logo i {
  color: rgb(37, 151, 244);
}

.header .navbar {
  position: relative;
}

.header .navbar #close-navbar {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  color: #444;
  display: none;
}

.header .navbar #close-navbar:hover {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.header .navbar a,
.ser,
.services {
  margin-right: 2rem;
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
  text-decoration: none !important;
  cursor: pointer;
}
.ser {
  text-transform: capitalize;
  text-decoration: underline;
  cursor: pointer;
  margin-right: 0.5rem;
}

.header .navbar a:hover,
.services:hover,
.ser:hover {
  color: rgb(37, 151, 244);
}
.header .btn-secondary {
  background-color: inherit !important;
  border-color: transparent !important;
  color: inherit !important;
}
.header .icons div {
  cursor: pointer;
  font-size: 2.5rem;
  color: #444;
  margin-left: 1.5rem;
}
.header .fa-sort-down {
  font-size: 20px;
  display: block;
  margin-bottom: 5px;
  margin-right: 1.5rem;
}
.header .dropdown-toggle::after {
  display: none;
}
.noun {
  display: flex !important;
  align-items: center;
}

/* .header .dropdown-toggle {
  align-items: center;
} */
.header .icons div:hover {
  color: rgb(37, 151, 244);
}

.header #menu-btn {
  display: none;
}

@media (max-width: 1200px) {
  .header {
    padding: 2rem 5%;
  }
  section {
    padding: 3rem 5%;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 2rem;
  }
  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 768px) {
  .header #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: fixed;
    top: 0;
    right: -105%;
    width: 30rem;
    background: #fff;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 1200;
  }
  .header .navbar #close-navbar {
    display: block;
  }
  .header .navbar.active {
    -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
    right: 0;
  }
  .header .navbar a,
  .ser {
    display: block;
    margin: 1rem 0;
    text-align: center;
    font-size: 3rem;
  }
  .home .slide .content h3 {
    font-size: 3rem;
  }
}

.icon {
  /* margin-left: 15px; */
  cursor: pointer;
  position: relative;
}
.iconImg {
  width: 25px;
  height: 25px;
  font-size: 20px;
}

.counter {
  width: 10px;
  height: 10px;
  color: white;
  font-weight: bold;
  background-color: red;
  border-radius: 50%;
  padding: 8px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -5px;
  right: -9px;
}
.notifications {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: white;
  color: black;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.notification {
  padding: 5px;
  font-size: 14px;
  font-weight: 500;
  background-color: rgb(202, 202, 202);
}

.nButton {
  width: 80%;
  padding: 5px;
  margin-top: 10px;
  background-color: rgb(37, 151, 244);
}
